name: OWASP ZAP Integration with Git Actions
on: [push]
permissions: 
  contents: read
  issues: write
jobs:
  zap_scan:
    runs-on: ubuntu-latest
    name: Scan the web application
    steps:
    - name: Checkout
      uses: actions/checkout@v4
      with:
        ref: master
    - name: ZAP scan
      uses: zaproxy/action-baseline@v0.14.0
      with:
        target: 'http://testphp.vulnweb.com'
        rules_file_name: '.zap/rules.tsv'
        cmd_options: '-a'
      
